---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Eric Minassian - Software Engineer">
  <main>
    <div class="grid h-screen place-items-center">
      <div class="text-center">
        <h1 class="font-bold text-4xl my-5">
          Eric Minassian - Software Engineer @ Walmart
        </h1>
        <div class="grid grid-cols-4 content-center my-5">
          <Link href="mailto:eric@ericminassian.com">Email</Link>

          <Link href="https://www.linkedin.com/in/minassian-eric/">
            LinkedIn
          </Link>

          <Link href="https://www.github.com/eric-minassian">Github</Link>

          <Link href="/resume.pdf">Resume</Link>
        </div>
      </div>
    </div>
  </main>
</Layout>
