---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume - Eric Minassian">
  <section>
    <div class="flex flex-col space-y-4">
      <div class="flex flex-col space-y-2">
        <div class="flex flex-row justify-between">
          <div class="flex flex-col space-y-1">
            <h2 class="font-semibold text-lg">Eric Minassian</h2>
            <p class="text-sm text-gray-500">Los Angeles, CA | 818-306-0857 |
              <a href="mailto:eric@ericminassian.com" class="text-gray-500 hover:text-gray-700 transition-colors duration-200 ease-in-out">eric@ericminassian.com</a>
              |
              <a href="https://ericminassian.com" class="text-gray-500 hover:text-gray-700 transition-colors duration-200 ease-in-out">ericminassian.com</a>
            </p>
          </div>
          <div class="flex flex-col space-y-1">
            <p class="text-sm text-gray-500">
              <a href="/resume.pdf"
              target="_blank"
              class="text-gray-500 hover:text-gray-700 transition-colors duration-200 ease-in-out">download</a>
            </p>
          </div>
        </div>
        <div class="flex flex-col space-y-1">
          <p class="text-sm text-gray-500">Bachelor of Science in Computer Science | University of California, Irvine | GPA: 4.0/4.0 | June 2025</p>
          <p class="text-sm text-gray-500">Bachelor of Arts in Business Administration | University of California, Irvine | GPA: 4.0/4.0 | June 2025</p>
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <h2 class="font-semibold text-lg">SKILLS</h2>
        <div class="flex flex-row flex-wrap space-x-2">
          <p class="text-sm text-gray-500">Languages: TypeScript | JavaScript | Python | C++ | C | SQL | Bash | HTML/CSS</p>
        </div>
        <div class="flex flex-row flex-wrap space-x-2">
          <p class="text-sm text-gray-500">Technologies: Docker | Git | MySQL | PostgreSQL | Amazon Web Services (AWS) | Microsoft Azure | Linux</p>
        </div>
        <div class="flex flex-row flex-wrap space-x-2">
          <p class="text-sm text-gray-500">Frameworks & Libraries: React.js | Fastify | Node.js | Django | Next.js</p>
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <h2 class="font-semibold text-lg">EXPERIENCE</h2>
        <div class="flex flex-col space-y-1">
          <div class="flex flex-row justify-between">
            <div class="flex flex-col space-y-1">
              <h3 class="font-semibold text-md">Walmart Global Tech | Software Engineer II Intern | May 2023 - Aug 2023</h3>
              <p class="text-sm text-gray-500">- Developed a full-stack application using TypeScript, React, Redux, and Fastify to present store-specific pay structures to management, handling over 130,000 daily requests.</p>
              <p class="text-sm text-gray-500">- Established an efficient CI/CD pipeline, automating static analysis, unit testing, and scalable deployment to Kuberentes clusters, serving over 5,500 stores globally.</p>
              <p class="text-sm text-gray-500">- Led the creation of a cross-platform tool that automated changelogs, change requests, and documentation from Git history, enabling automatic code merges and reducing developer admin time.</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-1">
          <div class="flex flex-row justify-between">
            <div class="flex flex-col space-y-1">
              <h3 class="font-semibold text-md">Simply Personalized | Software Engineer | Aug 2021 - June 2023</h3>
              <p class="text-sm text-gray-500">- Spearheaded the development of a C++ program for artwork management and distribution to embroidery machines, resulting in an 80% reduction in human error by eliminating manual processes.</p>
              <p class="text-sm text-gray-500">- Developed an interactive order form using TypeScript, providing instant quotes for wholesale customers, increasing website retention by 87% and boosting online inquiries by over 1200%.</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-1">
          <div class="flex flex-row justify-between">
            <div class="flex flex-col space-y-1">
              <h3 class="font-semibold text-md">Undergraduate Finance Association | VP of Technology | Mar 2022 - Mar 2023</h3>
              <p class="text-sm text-gray-500">- Directed a cost-effective WordPress migration strategy utilizing AWS, achieving a 66% reduction in expenses.</p>
              <p class="text-sm text-gray-500">- Oversaw the integration of member login and video archive functionality, enabling remote access to in-person meetings and increasing viewership by an average of 152 attendees per meeting.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <h2 class="font-semibold text-lg">PROJECTS</h2>
        <div class="flex flex-col space-y-1">
          <div class="flex flex-row justify-between">
            <div class="flex flex-col space-y-1">
              <h3 class="font-semibold text-md">Personalized Product Marketplace | (TypeScript, Python, React.js, Next.js) | eric-minassian/putyourname</h3>
              <p class="text-sm text-gray-500">- Built a peer-to-peer marketplace enabling real-time, multilingual product personalization and previews.</p>
              <p class="text-sm text-gray-500">- Automated payment and inventory tasks, saving 20 hours weekly, and established a CI/CD pipeline with GitHub Actions and AWS Lambda.</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-1">
          <div class="flex flex-row justify-between">
            <div class="flex flex-col space-y-1">
              <h3 class="font-semibold text-md">Search Engine | (Python, Flask) | eric-minassian/search-engine</h3>
              <p class="text-sm text-gray-500">- Developed a web crawler and search engine applying information retrieval principles (SimHash, NLP, page rank, cosine similarity, tf-idf).</p>
              <p class="text-sm text-gray-500">- Constructed a custom database for fast CRUD operations on an inverted index of corpus data, with operation speeds under 15ms.</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Eric Minassian
Los Angeles, CA | 818-306-0857 | eric@ericminassian.com | ericminassian.com
EDUCATION
Bachelor of Science in Computer Science | University of California, Irvine | GPA: 4.0/4.0 | June 2025
Bachelor of Arts in Business Administration | University of California, Irvine | GPA: 4.0/4.0 | June 2025
SKILLS
● Languages: TypeScript | JavaScript | Python | C++ | C | SQL | Bash | HTML/CSS
● Technologies: Docker | Git | MySQL | PostgreSQL | Amazon Web Services (AWS) | Microsoft Azure | Linux
● Framework & Libraries: React.js | Fastify | Node.js | Django | Next.js
EXPERIENCE
Walmart Global Tech | Software Engineer II Intern | May 2023 - Aug 2023
● Developed a full-stack application using TypeScript, React, Redux, and Fastify to present store-specific pay
structures to management, handling over 130,000 daily requests.
● Established an efficient CI/CD pipeline, automating static analysis, unit testing, and scalable deployment to
Kuberentes clusters, serving over 5,500 stores globally.
● Led the creation of a cross-platform tool that automated changelogs, change requests, and documentation from
Git history, enabling automatic code merges and reducing developer admin time.
Simply Personalized | Software Engineer | Aug 2021 - June 2023
● Spearheaded the development of a C++ program for artwork management and distribution to embroidery
machines, resulting in an 80% reduction in human error by eliminating manual processes.
● Developed an interactive order form using TypeScript, providing instant quotes for wholesale customers,
increasing website retention by 87% and boosting online inquiries by over 1200%.
Undergraduate Finance Association | VP of Technology | Mar 2022 - Mar 2023
● Directed a cost-effective WordPress migration strategy utilizing AWS, achieving a 66% reduction in expenses.
● Oversaw the integration of member login and video archive functionality, enabling remote access to in-person
meetings and increasing viewership by an average of 152 attendees per meeting.
PROJECTS
Personalized Product Marketplace | (TypeScript, Python, React.js, Next.js) | eric-minassian/putyourname
● Built a peer-to-peer marketplace enabling real-time, multilingual product personalization and previews.
● Automated payment and inventory tasks, saving 20 hours weekly, and established a CI/CD pipeline with GitHub
Actions and AWS Lambda.
Search Engine | (Python, Flask) | eric-minassian/search-engine
● Developed a web crawler and search engine applying information retrieval principles (SimHash, NLP, page rank,
cosine similarity, tf-idf).
● Constructed a custom database for fast CRUD operations on an inverted index of corpus data, with operation
speeds under 15ms. -->
  </section>
</Layout>
