---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class="border-solid border-2 border-black rounded-full mx-2 hover:border-white dark:hover:border-black hover:bg-black hover:text-white"
  href={href}
  target="_blank"
>
  <slot />
</a>
