---
import type { Route } from "../types/index";
import NavItem from "./NavItem.astro";

const routes: Route[] = [
  {
    path: "/",
    name: "home",
  },
  {
    path: "/resume",
    name: "resume",
  },
  {
    path: "/blog",
    name: "blog",
  },
];
---

<aside class="mb-16 ml-[-8px] tracking-tight">
  <div class="lg:sticky lg:top-20">
    <nav
      class="relative flex scroll-pr-6 flex-row items-start px-0 pb-0 md:relative md:overflow-auto"
    >
      <div class="flex flex-row space-x-0 pr-10">
        {routes.map((route) => <NavItem path={route.path} name={route.name} />)}
      </div>
    </nav>
  </div>
</aside>
