---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio of Eric Minassian, a Computer Science & Finance student at UC Irvine, showcasing his skills and projects."
    />
    <meta name="author" content="Eric Minassian" />
    <meta
      name="keywords"
      content="eric minassian, software engineer, finance, portfolio, internship, university of california, irvine, uci, computer science, business administration, resume, linkedin, github"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <footer>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-2JL15C30E8"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-2JL15C30E8");
    </script>
  </footer>
</html>
